/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family:'Times New Roman', Times, serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	font-size: 400%;
}

#Necklace {
	border-style: solid;
}

h2 {
	font-size: 200%;
	color: #61775a;
}

p {
	color: #61775a;
}

/* Write all remaining styles here */